* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg);
    color: var(--texto);
}

:root {
    --bg: #add8e6;
    --texto-principal: #fdecda;
    --texto-nav: #6a6560;
    --texto: #fff6ed;
    --vidro: rgba(255, 255, 255, 0.1)
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: 
        radial-gradient(circle 850px at 10% 20%, var(--texto-principal) 0%, transparent 40%),
        radial-gradient(circle 850px at 90% 80%, var(--texto-principal) 0%, transparent 40%),
        var(--bg);
}

.folhas-direita {
    position: fixed;
    top: 0;                 
    left: 0;
    height: 100vh;         
    width: auto;            
    object-fit: cover;      
    pointer-events: none;
    z-index: 0;
}

.folhas-esquerda {
    position: fixed;
    top: 0;                 
    right: 0;
    height: 100vh;         
    width: auto;            
    object-fit: cover;      
    pointer-events: none;
    z-index: 0;
}

.navegacao {
    position: fixed;
    top: 0;
    background: var(--texto-principal);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}
.nav-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: var(--texto-nav);
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    object-fit: cover;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 32px;
    list-style: none;
}

.menu-link {
    text-decoration: none;
    color: var(--texto-nav);
    position: relative;
    padding: 0.5rem 0;
    font-weight: 500;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--texto-nav), var(--bg));
    transition: width 0.3s ease;
}

.menu-link:hover::after{
    width: 100%;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 120px; 
}

.contato-link img {
    transition: 0.3s;
    filter: grayscale(20%);
}

.contato-link:hover img {
    transform: scale(1.1);
    filter: grayscale(0%);
}


.contato {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato-titulo {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--texto-principal);
}


.formulario {
    width: 100%;
    max-width: 500px;
    background: var(--vidro);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group label {
    font-size: 0.9rem;
    color: var(--texto-principal);
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.2);
    color: rgb(10, 7, 19);
}


.form-group input:focus,
.form-group textarea:focus {
    background: rgba(255,255,255,0.3);
}


.botao-enviar {
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: var(--texto-principal);
    color: var(--texto-nav);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.botao-enviar:hover {
    transform: scale(1.03);
    background: #f8d9b8;
}

@media (max-width: 1024px) {

    .formulario {
        max-width: 450px;
    }

    .contato-titulo {
        font-size: 2.2rem;
    }
}

@media (max-width: 768px) {

    .menu {
        gap: 16px;
        flex-wrap: wrap;
        font-size: 0.9rem;
    }

    .logo {
        display: none;
    }

    .logo span {
        display: none; 
    }

    .redes {
        margin-top: 100px;
        gap: 15px;
    }

    .contato-link img {
        width: 40px;
        height: 40px;
    }

    .contato {
        padding: 3rem 1rem;
    }

    .contato-titulo {
        font-size: 2rem;
        text-align: center;
    }

    .formulario {
        width: 100%;
        padding: 1.5rem;
    }

    .form-group input,
    .form-group textarea {
        font-size: 0.9rem;
    }

    .folhas-direita,
    .folhas-esquerda {
        display: none;
    }
}