* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

body {
    background-color: #000;
    color: #eee;
    font-size: 12px;
}

header {
    display: flex;
    width: 80%;
    height: 50px;
    align-items: center;
    position: relative;
    z-index: 2;
    margin: auto;
}

header a {
    color: #eee;
    font-weight: 300;
    margin-right: 40px;
    font-size: 14px;
}

.container {
    height: 100vh;
    width: 100vw;
    margin-top: -50px;
}

.item-list {
    width: 100%;
    height: 100%;
    position: absolute;
}

.item-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.item-list .content {
    position: absolute;
    top: 20%;
    right: 10%;
    padding-right: 30%;
    width: 80%;
    color: #eee;
    text-shadow: 0 5px 10px #0004;
}

.item-list .content .title {
    font-size: 5em;
    font-weight: 700;
    line-height: 1.3em;
}

.item-list .content .description {
    font-size: 1.5em;
}

.item-list .content .buttons {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
}   

.item-list .content .buttons button {
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}

.item-list .content .buttons button:hover {
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
    transition: ease-out 0.3s;

}

.item-list .content .buttons button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
}

.item-list .content .buttons button:nth-child(2):hover {
    background-color: #eee;
    color: #000;
    transition: ease-out 0.3s;
}

.thumb {
    position: absolute;
    bottom: 50px;
    left: 50%;
    display: flex;
    gap: 20px;
}

.thumb-item {
    width: 135px;
    height: 200px;
    position: relative;
    z-index: 3;
}

.thumb-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
    border-radius: 10px;
}

.thumb .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.arrows {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 120px;
    left: 120px;
    width: 300px;
}

.arrows button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #eee;
    border-radius: 50%;
    cursor: pointer;
}
.arrows button:hover {
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
    transition: ease-out 0.3s;
}

.container.next .thumb {
    animation: effectNextThumb 0.5s linear 1 forwards;
}

@keyframes effectNextThumb {
    from {
        transform: translateX(150px);
    }
}

.container.next .thumb .thumb-item:last-child{
    animation: effectLastThumb 0.5s linear 1 forwards;
}

@keyframes effectLastThumb {
    from {
        width: 0;
        opacity: 0;
    }
}

.container .list .item-list:last-child .content .title,
.container .list .item-list:last-child .content .description,
.container .list .item-list:last-child .content .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s linear 1 forwards;
}

.container .list .item-list:last-child .content .title {
    animation-delay: 0.2s;
}

.container .list .item-list:last-child .content .description {
    animation-delay: 0.4s;
}

.container .list .item-list:last-child .content .buttons {
    animation-delay: 0.6s;
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0);
        opacity: 1;
    }
}

.container.next .list .item-list:last-child img {
    width: 150px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
    animation: showImg 0.5s linear 1 forwards;
}

@keyframes showImg {
    to {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 0;
    }
}

.container.back .list .item-list:first-child img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: hideImg 0.5s linear 1 forwards;
    z-index: 2;
}

@keyframes hideImg {
    to {
        width: 135px;
        height: 200px;
        border-radius: 10px;
        bottom: 50px;
        left: 50%;
    }
}
